{% extends 'base.html' %}


{% block content %}

<main> 

    <div class="container-fluid position-relative">
        <div class="row justify-content-around">
            <div class="col-12 col-md-5 mb-5">
                <h1>About</h1>
                <h2>The Developer</h2>
                <p><a href="https://www.linkedin.com/in/hannah-johnson-profile/" target="_blank">Hannah Johnson</a> created this site as a <a href="https://hackbrightacademy.com/software-engineering-program/" target="_blank">Hackbright Academy Software Engineering Program</a> project in May - June of 2019. Reflecting on her past experience as a preK teacher, she realized that licensing and citation info for child care facilities is not especially easy to access and digest. She decided to create a more user-friendly site to improve accessibility. With Child Care Check you can <a href="/map">filter by data on adherence to state licensing, location, and facility name/key words</a>.</p>

                <a class="btn btn-outline" href="https://github.com/hanndull" role="button">Github</a>

                <a class="btn btn-outline" href="https://www.linkedin.com/in/hannah-johnson-profile/" role="button">LinkedIn</a>

            </div>

            <div class="col-12 col-md-5 mb-5">
                <h1>Learn More</h1>
                <h2><a href="/">Child Care Check</a></h2>
                <p>This site is built based off of data from the <a href="https://www.ccld.dss.ca.gov/carefacilitysearch/" target="_blank">California Department of Social Services</a>. It highlights data on child care centers' adherence to licensing standards within the state of CA. The information on this site was last updated on May 15, 2019. If you need to ensure info you find on this site is up-to-date, please visit <a href="https://www.ccld.dss.ca.gov/carefacilitysearch/" target="_blank">the CA state website</a> from which this data was retrieved.</p> 

                <p>You can find the code for this project <a href="https://github.com/hanndull/child-care-licensing-violations">on GitHub</a>.</p>
            
                <a class="btn btn-outline" href="/map" role="button">Search By Map</a>

                <a class="btn btn-outline" href="/facilities" role="button">View All Centers</a>

                <a class="btn btn-outline" href="/citations" role="button">Common Citations</a>

            </div>
        </div>


        <div class="row justify-content-around">

            <!-- <div class="col-4 mb-4"> -->
            <div class="col-12 col-md-5 mb-4">
     <!--            <div class="flip-box">
                  <div class="flip-box-inner">
                    <div class="flip-box-front"> -->
                      <img class="profile-flipped" src="/static/hjohnson-sm.jpg" alt="Photo of the developer">
 <!--                    </div>
                    <div class="flip-box-back">
                      <img class="profile" src="/static/hjohnson-sm.jpg" alt="Flipped photo of the developer">
                    </div>
                  </div>
                </div> -->
            </div>

            <!-- <div class="col-4 mb-4"> -->
            <div class="col-12 col-md-5 mb-4">
                <img class="square" src="https://cdn.pixabay.com/photo/2014/04/02/11/01/tick-305245_960_720.png">
            </div>

        </div>

        <div class="row justify-content-center mb-4">   
            <div class="col-auto">
                <p>Icons made by <a href="https://www.flaticon.com/authors/good-ware" 
                title="Good Ware" target="_blank">Good Ware</a> 
                from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 
                title="Creative Commons BY 3.0" target="_blank" target="_blank">CC 3.0 BY</a></p>
            </div>
        </div>

    </div>
</main>

{% endblock %}