<!doctype html>
<html>

<head>
  <title>CA Child Care Centers: Licensing Info</title>
  {% block head %}

  {% endblock %}
</head>

<body>

<div class=flash-box>
    <!--  Flash messages display here -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <span class=flashes>
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
        </span>
      {% endif %}
    {% endwith %}
</div>

<h3><a href="/">CA Child Care Centers: Licensing Info</a></h3>
<hr>

{% block content %} fill in content here {% endblock %}

</body>

</html>
