{% extends 'base.html' %}


{% block content %}

<main>
    <div class="container-fluid">
        <h1>Common Citations in CA Child Care Center Facilities</h1>

        <h3>The following standard codes are the top cited in California. Click on them to learn more.</h3>

            {% for definition in cit_defs %}
                <p><a href="/citations/{{ definition.cd_id }}">
                    {{ definition.code }}
                </a></p>
            {% endfor %}
    </div>
</main>

{% endblock %}