{% extends 'base.html' %}
{% block content %}

<h3>CA Child Care Center Facility Profile</h3>

<h2>{{ facility.name }}</h2>
<p><a href={{ f_url }} target="_blank">Learn More About This Facility on the 
CA Dept of Social Services Website</a></p>
<h4>Lisencing Status: {{ facility.status }} | Capacity: {{ facility.capacity }} children</h4>


<h3>Visitations and Inspections --</h3>
    {% if facility.visitations %}
        <ul>
        {% for visit in facility.visitations|sort(attribute='date', reverse = True) %}
        <!-- sorted lists using: https://stackoverflow.com/a/39051279 -->

            <li>
                <b>Visit Date:</b> {{ visit.date.strftime('%Y-%m-%d') }}; 
                <b>Was is an inspection?</b> 
                    {% if visit.is_inspection == 'true' %}
                        yes
                    {% else %}
                        no
                    {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>This facility has received no licensing visits or inspections.</p>
    {% endif %}


<h3>Complaints --</h3>    
    {% if facility.no_complaints %}
        <p>This facility has received no complaints.</p>
    {% else %}
        <p>This facility has a history of complaints.</p>
    {% endif %}


<h3>Citations --</h3>
    {% if facility.citations %}
        <ul>
        {% for citation in facility.citations|sort(attribute='date', reverse = True) %}
            
            <li>
                <b>{{ citation.date.strftime('%Y-%m-%d') }}:</b> 
                {{ citation.code }}
            </li>

        {% endfor %}
        </ul>
    {% else %}
        <p>This facility has received no licensing citations.</p>
    {% endif %}



<h3><a href="/facilities">Return to All Facilities</a> | 
    <a href="/filter">Return to Filters</a></h3>

{% endblock %}