{% extends 'base.html' %}
{% block content %}

<main>
    <div class="container-fluid">

        <h1>CA Child Care Center Facilities</h1>

        <h4>Number of Facilities: {{ num_facilities }} | Note that this list does not include home-based facilities.</h4>
            
            {% for facility in facilities %}
                <p><a href="/facilities/{{ facility.f_id }}">
                    {{ facility.name }}
                </a></p>
            
            {% endfor %}

    </div>
</main>
{% endblock %}