{% extends 'base.html' %}
{% block content %}

<h2>Filter your results.</h2>

<form action='/filter-results' method='POST'>
        
        <label for='name'>Facility Name </label>
        <input id='name' type='text' name='name' placeholder='ex: City Kids'><br>
        
        <label for='zipcode'>Facility Zip Code </label>
        <input id='zipcode' type='text' name='zipcode' placeholder='ex: 93636' size=5 pattern="[0-9]*"><br>
        <!-- Pattern attr from https://css-tricks.com/html-for-zip-codes/ -->
        
        <label for='min-cit'>Minimum Citation Count </label>
        <input id='min-cit' type='number' name='min_cit' placeholder='ex: 2'><br>
        
        <label for='max-cit'>Maximum Citation Count </label>
        <input id='max-cit' type='number' name='max_cit' placeholder='ex: 6'><br>

        <label for="type-select">Facility Type </label>
        <select id="type-select" name="type">
                <option value="">--Choose an option--</option>
                <option value="infant">Infant Center</option>
                <option value="ill">Day Care Center - Ill</option>
                <option value="day">Day Care Center</option>
                <option value="school">School Age Day Care Center</option>
        </select><br>
        
        <label for="status-select">Facility Status </label>
        <select id="status-select" name='status'>
                <option value="">--Choose an option--</option>
                <option value="licensed">Licensed</option>
                <option value="pending">Pending</option>
                <option value="inactive">Inactive</option>
                <option value="probation">On Probation</option>
                <option value="closed">Closed</option>
        </select><br>     
        
        <label for="suppress-recent">Show only facilities who have not have a citation since </label> 
        <input id="suppress-recent" type='date' name='suppress_date' min="2013-01-01"><br> 
        
        <input type='submit' value='Filter!'>

</form>

{% endblock %}