{% extends 'base.html' %}

{% block head %}
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #filters {
      margin: 10px;
    }

    #loading {
      text-align: center;
      display: none;
    }

  </style>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% endblock %}
  
{% block content %}
  
  <div id="filters">
    <h2>Filter your results.</h2>

      <form id="filter-form">
        <!-- look into refactoring with Jinja -->
              
              <label for='name'>Facility Name </label>
              <input id='name' type='text' name='name' placeholder='ex: City Kids'><br>
              
              <label for='zipcode'>Facility Zip Code </label>
              <input id='zipcode' type='text' name='zipcode' placeholder='ex: 93636' size=5 pattern="[0-9]*"><br>
              <!-- Pattern attr from https://css-tricks.com/html-for-zip-codes/ -->
              
              <label for='city'>Facility City </label>
              <input id='city' type='text' name='city' placeholder='ex: San Francisco'><br>

              <label for='min-cit'>Minimum Citation Count </label>
              <input id='min-cit' type='number' name='min_cit' placeholder='ex: 2'><br>
              
              <label for='max-cit'>Maximum Citation Count </label>
              <input id='max-cit' type='number' name='max_cit' placeholder='ex: 6'><br>

              <label for="type-select">Facility Type </label>
              <select id="type-select" name="type">
                      <option value="">--Choose an option--</option>
                      <option value="infant">Infant Center</option>
                      <option value="ill">Day Care Center - Ill</option>
                      <option value="prek">Day Care Center - PreK</option>
                      <option value="school">School Age Day Care Center</option>
              </select><br>
              
              <label for="status-select">Facility Status </label>
              <select id="status-select" name='status'>
                      <option value="">--Choose an option--</option> 
                      <option value="licensed">Licensed</option>
                      <option value="pending">Pending</option>
                      <option value="inactive">Inactive</option>
                      <option value="probation">On Probation</option>
                      <option value="closed">Closed</option>
              </select><br>     
              
              <label for="suppress-recent">Show only facilities who have not had a citation since </label> 
              <input id="suppress-recent" type='date' name='suppress_date' min="2013-01-01"><br> 
              <input type='submit' value='Filter!'>

      </form><br>
  </div>

  <div id="loading">
    <h3>Now loading...</h3>
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif" 
    alt="loading GIF" height="50" width="50">
  </div>

  <div id="filter-legend">

  </div>

  <div id="map"></div>

  <script>

    $("#filter-form").submit((event) => {
    // JQuery event listener for click on submit of form

      event.preventDefault();
      initFilteredMap();
    });


    function initBaseMap() {
      // Renders Google Map from saved JSON of all facilities

      const map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 37.8, lng: -120},
        zoom: 6
      });

      console.log(">>>>>> Map complete, now creating icons");

      // Try HTML5 geolocation.
      // from https://developers.google.com/maps/documentation/javascript/examples/map-geolocation

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition( (position) => {
          
          const pos = {lat: position.coords.latitude, lng: position.coords.longitude}
          infoWindow = new google.maps.InfoWindow;     

          infoWindow.setPosition(pos);
          infoWindow.setContent("Here's your location.");
          infoWindow.open(map);
          
          map.setCenter(pos);
          map.setZoom(13);

        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }

      // let iconBase = {
      //   path: google.maps.SymbolPath.CIRCLE,
      //   scale: 4,
      //   fillOpacity: 0.9,
      //   strokeColor: 'DimGray',
      //   strokeWeight: 1,
      // }
      // ### ^^ Currently using default for faster loading

      $.getJSON('/pass-json.json', (data) => { // Ajax call for JSON from file

        for (const f_id in data) {

          const citationCount = parseInt(data[f_id]['citation_count'])

          // iconBase.fillColor = data[f_id]['fillColor'] 
          // ### ^^ Currently using default for faster loading

          const marker = new google.maps.Marker({ 
              // icon: iconBase, // ### Currently using default for faster loading
              map: map,
              position: {
                lat: parseFloat(data[f_id]['lat']),
                lng: parseFloat(data[f_id]['lng'])
              },
              title: data[f_id]['title']
            });

          marker.addListener('click', () => {
            const content = (
              '<div id="content">'+
              '<h3>'+
              data[f_id]['title']+
              '</h3><p>Status: '+
              data[f_id]['status']+
              '<br>Citation Count: '+
              data[f_id]['citation_count']+
              '<br><a href="/facilities/'+ 
              f_id+ 
              '" target="_blank">Learn More About This Facility</a></p>'+
              '</div>'
              )

            const infowindow = new google.maps.InfoWindow({
              content: content,
              maxWidth: 400,
              title: data[f_id]['title'],
            });
            infowindow.open(map, marker)
          });
        }
        console.log(">>>>>> Now exited for loop");
      });
      console.log(">>>>>> Completed load")
    }


    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }


    function initFilteredMap() {
      // Recreates Google Map once user applies filters

      $("#loading").css("display", "block");
      // JQuery to show loading when filtered map begins to load

      const map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 37.8, lng: -120},
        zoom: 6
      });

      console.log("Map complete, now creating base icon");

      let iconBase = {
        path: google.maps.SymbolPath.CIRCLE,
        scale: 4,
        fillOpacity: 0.9,
        strokeColor: 'DimGray',
        strokeWeight: 1,
      }

      console.log("Icon complete, now fetching data from form")

      const formData = $("#filter-form").serialize()
      // Store all input from form fields in a string 

      console.log("Form fetch complete, now processing data")

      function getPage(counter = 1) {
        // function to help with pagination
        
        console.log(counter);
        
        console.log(">>>>> formData", `${formData}&page_num=${counter}`);

        $.get('/filter-results.json', `${formData}&page_num=${counter}`, (data) => {
          // Ajax call for JSON of query, using formData (form field info)

          if (data.count === 0) {
            $("#loading").css("display", "none");
            // JQuery to remove loading GIF once finished for loop
            return; 
            // To exit function when no further query responses from server
          }
          
          for (const f_id in data) {
            // success callback function to create marker and window for ea facility
            
            console.log("Now within for loop for marker and window creation");

            if (data[f_id]['citation_count'] === 0) {
              //icon = iconCitations;
              iconBase.fillColor = 'DarkGreen';
            } else if (data[f_id]['citation_count'] > 6) {
              iconBase.fillColor = 'Crimson';
            } else if (data[f_id]['citation_count'] > 2 && data[f_id]['citation_count'] < 7) {
              iconBase.fillColor = 'OrangeRed';
            } else {
              iconBase.fillColor = 'Gold';
            }

            const marker = new google.maps.Marker({ 
              icon: iconBase,
              map: map,
              position: {
                lat: parseFloat(data[f_id]['lat']),
                lng: parseFloat(data[f_id]['lng'])
              },
              title: data[f_id]['title'],
            });
            
            marker.addListener('click', () => {
              const content = (
                '<div id="content">'+
                '<h3>'+
                data[f_id]['title']+
                '</h3><p>Status: '+
                data[f_id]['status']+
                '<br>Citation Count: '+
                data[f_id]['citation_count']+
                '<br><a href="/facilities/'+ 
                f_id+ 
                '" target="_blank">Learn More About This Facility</a></p>'+
                '</div>'
                )

              const infowindow = new google.maps.InfoWindow({
                content: content,
                maxWidth: 400
              });
              infowindow.open(map, marker)
            });
          }

          console.log("Now exited for loop");
          
          getPage(counter + 1);

        });
      }
      getPage(); // Call the overall function to initiate loading of map markers
    }


  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw0meNSqLUJr9iQ0JLsC0b0xXxwBLrP_U&callback=initBaseMap">
  </script>
  
{% endblock %}