{% extends 'base.html' %}

{% block head %}
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #filters {
      margin: 10px;
    }

  </style>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% endblock %}
  
{% block content %}
  
  <div id="filters">
    <h2>Filter your results.</h2>

      <form id="filter-form">
        <!-- look into refactoring with Jinja -->
              
              <label for='name'>Facility Name </label>
              <input id='name' type='text' name='name' placeholder='ex: City Kids'><br>
              
              <label for='zipcode'>Facility Zip Code </label>
              <input id='zipcode' type='text' name='zipcode' placeholder='ex: 93636' size=5 pattern="[0-9]*"><br>
              <!-- Pattern attr from https://css-tricks.com/html-for-zip-codes/ -->
              
              <label for='city'>Facility City </label>
              <input id='city' type='text' name='city' placeholder='ex: San Francisco'><br>

              <label for='min-cit'>Minimum Citation Count </label>
              <input id='min-cit' type='number' name='min_cit' placeholder='ex: 2'><br>
              
              <label for='max-cit'>Maximum Citation Count </label>
              <input id='max-cit' type='number' name='max_cit' placeholder='ex: 6'><br>

              <label for="type-select">Facility Type </label>
              <select id="type-select" name="type">
                      <option value="">--Choose an option--</option>
                      <option value="infant">Infant Center</option>
                      <option value="ill">Day Care Center - Ill</option>
                      <option value="prek">Day Care Center - PreK</option>
                      <option value="school">School Age Day Care Center</option>
              </select><br>
              
              <label for="status-select">Facility Status </label>
              <select id="status-select" name='status'>
                      <option value="">--Choose an option--</option> 
                      <option value="licensed">Licensed</option>
                      <option value="pending">Pending</option>
                      <option value="inactive">Inactive</option>
                      <option value="probation">On Probation</option>
                      <option value="closed">Closed</option>
              </select><br>     
              
              <label for="suppress-recent">Show only facilities who have not have a citation since </label> 
              <input id="suppress-recent" type='date' name='suppress_date' min="2013-01-01"><br> 
              <input type='submit' value='Filter!'>

      </form><br>
  </div>


  <div id="map"></div>

  <script>

    $("#filter-form").submit((event) => {
    // JQuery event listener for click on submit of form
      event.preventDefault();
      initFilteredMap();
    });

    function initFilteredMap() {
      // Recreates Google Map once user applies filters
      // TODO - LOOK UP HOW TO AUTOZOOM
      const map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 37.8, lng: -120},
        zoom: 6
      });

      console.log("Map complete, now creating icons")

      const iconNoCitations = {
        // variable to store custom icon info
        url: 'https://image.flaticon.com/icons/svg/149/149983.svg',
        scaledSize: new google.maps.Size(20, 30)
      };

      const iconCitations = {
        url: 'https://image.flaticon.com/icons/svg/149/149059.svg',
        scaledSize: new google.maps.Size(20, 30)
      }

      console.log("Icons complete, now fetching data from form")

      const formData = $("#filter-form").serialize()
      // Store all input from form fields in variable 

      console.log("Form fetch complete, now processing data")
       
      let counter = 1; // counter to ask for specific "page" of query results

      while (true) {
        // While loop for pagination

        formData.page_num = counter;
        console.log(formData)
        // formData.
        $.get('/filter-results.json', formData, (data) => {
          // Ajax call for JSON of query, using formData (form field info)
          
          for (const f_id in data) {
            // success callback function to create marker and window for ea facility
            
            console.log("Now within for loop for marker and window creation")

            if (data[f_id]['citation_count'] > 0) {
              icon = iconCitations;
            } else {
              icon = iconNoCitations;
            }

            const marker = new google.maps.Marker({ 
              icon: icon,
              map: map,
              position: {
                lat: parseFloat(data[f_id]['lat']),
                lng: parseFloat(data[f_id]['lng'])
              },
              title: data[f_id]['title'],
            });
            
            marker.addListener('click', () => {
              const content = (
                '<div id="content">'+
                '<h3>'+
                data[f_id]['title']+
                '</h3><p>Status: '+
                data[f_id]['status']+
                '<br>Citation Count: '+
                data[f_id]['citation_count']+
                '<br><a href="/facilities/'+ 
                f_id+ 
                '" target="_blank">Learn More About This Facility</a></p>'+
                '</div>'
                )

              const infowindow = new google.maps.InfoWindow({
                content: content,
                maxWidth: 400
              });
              infowindow.open(map, marker)
            });
          }

          if (parseInt(data.count) < 100) {
            //does this need to be turned into int, or is it already int?
            return;
          }
          
          console.log("Now exited for loop");
          
          counter += 1;
          break;
        });
      }
    }


    // function initMapBase() {
    //   // Creates map that will show up when user opens page
    //   const map = new google.maps.Map(document.getElementById('map'), {
    //     center: {lat: 37.8, lng: -120},
    //     zoom: 6
    //   });

    //   const icon = {
    //     url: 'https://svgsilh.com/svg_v2/1093167.svg',
    //     scaledSize: new google.maps.Size(15, 15)
    //   };

    //   const infowindow = new google.maps.InfoWindow({
    //     content: '<p>Test Window</p>'
    //   });

    //   $.get('/filter-results.json', (data) => {

    //     for (const f_id in data) {
          
    //       const content = (
    //         '<div id="content"'+
    //         '<h1>'+
    //         data[f_id]['title']+
    //         '</h1>'+
    //         '<p><a href="/facilities/'+ 
    //         f_id+ 
    //         '" target="_blank">Facility Page</a></p>'+
    //         '<h3>Citation Count:'+
    //         data[f_id]['citation_count']+
    //         '</h3>'+
    //         '</div>'
    //         )

    //       const infowindow = new google.maps.InfoWindow({
    //         content: content,
    //         maxWidth: 400
    //         });

    //       const marker = new google.maps.Marker({ 
    //         icon: icon,
    //         map: map,
    //         position: {
    //           lat: parseFloat(data[f_id]['lat']),
    //           lng: parseFloat(data[f_id]['lng'])
    //         },
    //         title: data[f_id]['title'],
    //       });
          
    //       marker.addListener('click', () => {
    //         infowindow.open(map, marker)
    //       });
    //     }
    //   });
    // }


  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw0meNSqLUJr9iQ0JLsC0b0xXxwBLrP_U&callback=initFilteredMap">
  </script>
  
{% endblock %}